<!DOCTYPE html>
{{ "<!-- _default/list.html -->" | safeHTML }}
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<section class="blog section">
		<div class="container">
			<div class="row">
				{{ range (.Paginator 6).Pages }}
				<div class="col-md-6">
					<article class="blog-post">
						<a class="post-title" href="{{ .Permalink }}">
						{{ with .Params.image }}
						<img src="{{ . | absURL }}" class="img-responsive" alt="post-thumb"> {{ end }}
						<i class="{{ .Params.icon }}"></i> {{ .Title }}</a>
						<p>
							{{ .Summary }}
						</p>
					</article>
				</div>
				{{ end }}
			</div>
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ if (isset .Params "call") }}
	  {{ if (.Params.call) }}
  		{{ partial "call2action.html" . }}
		{{ end }}
	{{ else }}
  	{{ partial "call2action.html" . }}
	{{ end }}

	{{ partial "floating-button.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
