<!DOCTYPE html>
{{ "<!-- hirek/single.html -->" | safeHTML }}
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
    {{ partial "head.html" . }}
</head>
<body>

{{ partial "header.html" . }}

<div class="post">
    <!-- Wrapper Start -->
    <section class="section" style="border: 1px dotted #ddd;">
        <div class="container">
            <div class="row">
                <div>
                    <div class="block">
                        {{ with .Params.image }}<img src="{{ . | absURL }}" width="100%" alt="post-image"> {{ end }}
                        <h1>{{ .Params.title }}</h1>
                        <div class="post-info-wrapper">
                            <p class="italic">{{ with .Params.author }}<span class="bold">{{ . }}</span>{{ end }} {{ with .Params.date }}<span class="bold">{{ . | dateFormat $.Site.Params.dateFormat }}</span>{{ end }}
                            </p>
                        </div>
                        <hr/>
                        <div class="blog-post">{{ .Content }}</div>
                    </div>
                </div><!-- .col-md-7 close -->
            </div>
        </div>
    </section>
</div>
<p class="center-text" style="padding: 30px;">
    <a class="btn btn-main" href="{{ $.Site.BaseURL }}/hirek">Vissza</a>
</p>

    {{ if (isset .Params "call") }}
    {{ if (.Params.call) }}
    {{ partial "call2action.html" . }}
    {{ end }}
    {{ else }}
    {{ partial "call2action.html" . }}
    {{ end }}

    {{ partial "floating-button.html" . }}

    {{ partial "footer.html" . }}
</body>
</html>
