<!DOCTYPE html>
{{ "<!-- iconized/list.html -->" | safeHTML }}
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<!-- Service Start -->
	<section id="service">
	  <div class="container">

	    <!-- Content -->
	    <div class="row">
	      {{ range .Pages }}
	      <div class="col-sm-6 col-md-3">
	        <div class="service-item">
						<a class="post-title" href="{{ .Permalink }}">
						{{ if isset .Params "icon" }}
	          <i class="icon {{ .Params.icon }}"></i>
						{{ end }}
	          <h4>{{ .Params.title }}</h4>
	          <p>{{ .Params.summary }}</p>
					  </a>
	        </div>
	      </div>
	      {{ end }}
	    </div>
	  </div>
	</section>

	{{ if (isset .Params "call") }}
	  {{ if (.Params.call) }}
  		{{ partial "call2action.html" . }}
		{{ end }}
	{{ else }}
  	{{ partial "call2action.html" . }}
	{{ end }}

	{{ partial "floating-button.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
