<!DOCTYPE html>
{{ "<!-- iconized/single.html -->" | safeHTML }}
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
	{{ partial "global-header.html" . }}
	<div class="post">
	  <!-- Wrapper Start -->
	  <section class="section" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div>
	          <div class="block">
							{{ if .Params.toc }}
							<div class="blog-post-contents">
								<hr/>
								<h2>Tartalom:</h2>
								{{ .TableOfContents }}
								<hr/>
							</div>
							{{ end }}
							<div class="blog-post">{{ .Content }}</div>
	          </div>
	        </div><!-- .col-md-7 close -->
	      </div>
	    </div>
	  </section>
	</div>

	{{ end }}

	{{ if (isset .Params "call") }}
	  {{ if (.Params.call) }}
  		{{ partial "call2action.html" . }}
		{{ end }}
	{{ else }}
  	{{ partial "call2action.html" . }}
	{{ end }}

	{{ partial "floating-button.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
