<!-- Call to action Start -->
{{ if .Site.Data.call2action.enable }}
<section id="call-to-action" style="background-image: url('{{ .Site.Data.call2action.bgImage | absURL }}');">
  {{ with .Site.Data.call2action }}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .title }}</h2>
          <p>{{ .paragraph }}</p>
          {{ with .button }}
          <a class="btn btn-main btn-solid-border" href="{{ .url }}" >{{ .caption }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
