{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Data.contact }}
<section id="contact-form">
  <div class="container">
    <div class="row">
      <form method="post" action="{{ .form.action }}">
      <div class="col-md-6 col-sm-12">
        <div class="block">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="{{ .form.name }}">
            </div>
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="{{ .form.email }}">
            </div>
            <div class="form-group">
              <input type="text" name="subject" class="form-control" placeholder="{{ .form.subject }}">
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
            <div class="form-group-2">
              <textarea name="message" class="form-control" rows="3" placeholder="{{ .form.message }}"></textarea>
            </div>
            <button class="btn btn-default" type="submit">{{ .form.button }}</button>
        </div>
      </div>
      </form>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fas fa-map-marker"></i>{{ .box.address }}
            </li>
            <li>
              <i class="fas fa-envelope"></i>{{ .box.email }}
            </li>
            <li>
              <i class="fas fa-phone"></i>{{ .box.phone }}
            </li>
          </ul>
          <ul class="social-icons">
          {{ range .social }}
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title }}</h2>
            <div class="google-map">
              <iframe src="https://www.google.com/maps/embed?pb={{ .pb }}" width="555" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
