{{ if .Site.Data.feature.enable }}
<section id="feature" style="background-image: url('{{ .Site.Data.feature.bgImage | absURL }}');">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 class="text-uppercase">{{ .Site.Data.feature.title }}</h2>
      <p>
      	{{ .Site.Data.feature.content | markdownify }}
      </p>
      {{ with .Site.Data.feature.button }}
      	<a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
      {{ end }}
    </div>
  </div>
</div>
</section>
{{ end }}