{{ partial "global-header.html" . }}

{{ if .Site.Data.felhasznalasifeltetelek.enable }}
<!-- Service Start -->
<section id="service">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.felhasznalasifeltetelek.title }}</h2>
        <p>{{ .Site.Data.felhasznalasifeltetelek.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.felhasznalasifeltetelek.content }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="{{ .icon }}"></i>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
