<!-- favicons can go here -->
<div id="floating-button">
  <a href="#" class="float" id="menu-share">
    <i class="fas fa-plus my-float"></i>
  </a>
  <ul>
    <li class="my-float"><a href="{{ $.Site.BaseURL }}jelentkezes/segitokutya">
      <i class="fas fa-dog my-float"></i>
      <div class="my-float-tooltip">Jelentkezés segitokutyáért</div>
    </a></li>
    <li class="my-float"><a href="{{ $.Site.BaseURL }}jelentkezes/kutyaterapia">
      <i class="fas fa-paw my-float"></i>
      <div class="my-float-tooltip">Jelentkezés kutyásterápiáért</div>
    </a></li>
    <li class="my-float"><a href="{{ $.Site.BaseURL }}jelentkezes/kepzes">
      <i class="fas fa-chalkboard-teacher my-float"></i>
      <div class="my-float-tooltip">Jelentkezés képzésre</div>
    </a></li>
  </ul>
</div>
