<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">AURA Personal Assistant Dog Foundation Web Site</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.segitokutya.hu/" property="cc:attributionName" rel="cc:attributionURL">AURA Personal Assistant Dog Foundation</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="/felhasznalasi-feltetelek" rel="cc:morePermissions">Felhasználási feltételek</a>.</p>
        <p>Developed using <a href="https://gohugo.io/">Hugo</a>, reusing parts of <a href="https://themes.gohugo.io/airspace-hugo/">Airspace Hugo</a> theme.</p>
      </div>
    </div>
  </div>
</footer>
