<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>

	{{ partial "head.html" . }}

</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "slider.html" . }}

	{{ partial "wrapper.html" . }}

	{{ partial "feature.html" . }}

	{{ partial "service-home.html" . }}

	{{ partial "call2action.html" . }}

	{{ partial "testimonial.html" . }}

	{{ partial "floating-button.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
